## Longest String in the List

In [1]:
my_list = ["you", "Ukraine", "Russia", "YoutubeChannel"]

In [2]:
my_list

['you', 'Ukraine', 'Russia', 'YoutubeChannel']

In [3]:
longest_string = ""

for string_item in my_list:
  if  len(string_item) > len(longest_string):
    longest_string = string_item

print(longest_string)

YoutubeChannel

## Reverse a List in Python

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7]
my_list

[1, 2, 3, 4, 5, 6, 7]

In [5]:
my_list.reverse()
print(my_list)

[7, 6, 5, 4, 3, 2, 1]

In [6]:
my_list = [1, 2, 3, 4, 5, 6, 7]
my_list

[1, 2, 3, 4, 5, 6, 7]

In [7]:
reverse_list = my_list[::-1]
print(reverse_list)

[7, 6, 5, 4, 3, 2, 1]

## Remove Duplicate Items

In [8]:
numbers_list = [ 1, 1, 2, 2, 2, 3, 4, 5]
print(numbers_list)

[1, 1, 2, 2, 2, 3, 4, 5]

In [9]:
print(list(set(numbers_list)))

[1, 2, 3, 4, 5]

## List of Characters to String

In [10]:
char_list = ["N","A", "V", "E","E", "D"]
result_string = "".join(char_list)
print(result_string)

NAVEED