In [1]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple_dynamic = ("Naveed", 122, 412)

print(my_tuple_dynamic)

('Naveed', 122, 412)

In [3]:
len(my_tuple_dynamic)

3

In [4]:
my_typle_dynamic[1] = 7

NameError: ignored

In [6]:
temp = list(my_tuple_dynamic)
temp.append("Ahmed")
my_new_tuple = tuple(temp)
print(my_new_tuple)

('Naveed', 122, 412, 'Ahmed')

In [7]:
for item in my_new_tuple:
  print(item)

Naveed
122
412
Ahmed

In [8]:
my_tuple

(1, 2, 3)

In [9]:
my_new_tuple

('Naveed', 122, 412, 'Ahmed')

In [10]:
final_tuple = my_tuple + my_new_tuple

print(final_tuple)

(1, 2, 3, 'Naveed', 122, 412, 'Ahmed')